/* * {box-sizing: border-box} */

/* Full-width input fields */
  input[type=text], input[type=password] {
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  width:70%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.39);
  background-color: rgb(240, 246, 247);
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 2px;
  outline:none;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

select{
  width: 100px;
  height: 25px;
  font-size: 16px;
  position: relative;
  left:10px;
  background-color: #F0F6F7FF;
}



hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

h1, p{
  color: #F0F6F7FF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #F0F6F7FF;
}

/* Set a style for all buttons */
#sign-up-btn{
  margin-right: auto;
  margin-left: auto;
  display: flex;
  background-color: #F0F6F7FF;
  border: 0.5px solid #FF4F58FF;
  border-radius: 5px;
  transition-duration: 0.5s;
  font-size: 16px;
  padding: 10px;
  color: #FF4F58FF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline:none;

}

#sign-up-btn:hover{
  background-color: #FF4F58FF;
  color: #F0F6F7FF;
  cursor: pointer;
}

#cancel-btn{
  display: inline-block;
  width: 100px;
  background-color: #FF4F58FF;
  border: 0.5px solid #FF4F58FF;
  border-radius: 5px;
  transition-duration: 0.5s;
  font-size: 16px;
  padding: 6px;
  color: #F0F6F7FF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline:none;
}

#cancel-btn:hover{
  background-color: #F0F6F7FF;
  color: #FF4F58FF;
  cursor: pointer;
}





.container {
  background-color: #669DB3FF;
  width: 40%;
  padding: 16px;
  border-radius: 10px;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}




#remember{
  font-size: 14px;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#remember input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark{
  position: absolute;
  top: 2px;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: #669DB3FF;
  /* border: 1px solid #F0F6F7FF; */
  border-radius: 2px;
}

#remember:hover input ~ .checkmark {
  background-color: rgb(90, 129, 146);
  
}

 #remember input:checked ~ .checkmark {
  background-color: #669DB3FF;
} 

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

#remember input:checked ~ .checkmark:after {
  display: block;
}

#remember .checkmark:after {
  left: 4px;
  top: 0px;
  width: 2px;
  height: 8px;
  border: solid #FF4F58FF;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}